@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@500&family=Satisfy&display=swap');
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.project>h1{
  font-size: 3rem;
  font-family: "Raleway";
}
.swiper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper{
  width: 92.4%;
  }
.project .swiper{
  overflow: hidden!important;
}
.project-slider {
  width: 100%;
}
.projectDiv{
  width: 22vmax;
  height: 11.8vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectimg{
  width: 22vmax;
  height: 12vmax;
  z-index: 3;
  position: absolute;
}
.projectDiv:before{
  content:"";
  background-color: rgba(0, 0, 0, 0.5);
  width: 22vmax;
  height: 11.8vmax;
  top: 0%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  
}

.projectDiv:hover:before{
  opacity: 1;
  z-index: 4;
}

.fa-logo{
  color: white;
  font-size: 30px;
  position: relative;
  margin: 15px;
  transition: all 0.5s;
  z-index: 6;
  opacity: 0;
}
.projectDiv:hover .fa-logo{
  opacity: 1;
}
.fa-logo:hover{
  transform: scale(0.8);
}
.project_name{
  box-sizing: border-box;
  text-align: center;
  width: 22vmax;
  background: rgb(201, 199, 199);
  font-size: 1.1vmax;
}
.swiper-button-prev{
  color: orange;
  font-weight: 1000;
}
.swiper-button-next{
  color: orange;
  font-weight: 1000;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  opacity: 0;
}




@media  screen and (max-width: 800px) {
  .project{
      margin-top: 50px;
  }
  .project>h1{
    font-size: 2.6rem;
  }
  .projectDiv{
    width: 35vmin;
    height: 20vmin;
  }
  .projectDiv:before{
    width: 35vmin;
    height: 20vmin;
  }
  .projectimg{
    width: 35vmin;
    height: 20vmin;
  }
  .project_name{
    width: 35vmin;
    font-size: 1.4vmin;
  }
  .projectDiv:active:before{
    opacity: 1;
    z-index: 4;
  }

}