@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Oswald&family=Phudu:wght@500&family=Playfair+Display&display=swap');
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
}
.footer>p{
    font-family: "phudu";
}
.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    
}
.footer div i{
    margin: 20px;
    color: rgb(51, 153, 236);
}